<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class = "container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <div class="col-lg-8 offset-lg-2 px-0">
          <h2 class="text-align-center">Welcome to THE MOST COMMON WEB APP!</h2>
          <p class="lead">The most common code, commands and methods for developers and engineers at your fingertips</p>
          <button type="button" class="btn btn-primary mr-3">Javascript</button>
          <button type="button" class="btn btn-primary mr-3">Python</button>
          <button type="button" class="btn btn-primary mr-3">C++</button>
        </div>
  
  
  
  
        <hr class="my-5 w-25 mx-0">
  
        <div class="row">
          <% if (!user) { %>
          <div class="col-md-6">
            <h2>JOIN OUR COMMUNITY OF DEVELOPERS</h2>
            <p>Become part of the movement of developers and engineers helping each other learn and grow! 
  
              We share the most common commands developers are using in their everyday workflows.
            </p>
            <p> Not a member? Sign up today!
  
              <a href="/login" role="button">Login</a> to start contributing to the community</p>
             
          </div>
          <% } %>
          <div class="col-md-6">
            <h2>Top 5 User Ranking</h2>
            <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
            
            <table class="table table-striped table-bordered text-center">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>User</th>
                  <th>Contribution</th>
                  <th>Upvotes</th>
                  <th>Score(Rounding)</th>
                </tr>
              </thead>
  
              <tbody>
                <% results.forEach(function(item){ %> 
                  <tr>
                    <td><%=item[0] %></td>
                    <td><%=item[1] %></td>
                    <td><%=item[2] %></td>
                    <td><%=item[3] %></td>
                    <td><%=item[4] %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>

          </div>
        </div>
  
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>
    

  </body>

</html>
