<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class="container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <div class ="row">
          <div class="col-lg-2 px-0">
            <% if (user) { %>
            <a href ="/addcode">Add new code</a>
            <% } %>
          </div>
        <div class="col-lg-8 px-0">
          
          <h2 class="text-align-center"><%= title %><% if(subtitle){ %>: <%=unescape(subtitle)%><% } %></h2>
          <p class="lead">All code snippets</p>
          Tags:
          <%  tags.forEach(function(item){ %> 
            <label><%=item%></label>
          <% }) %>
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Votes</th>
                <th scope="col">Code</th>
                <th scope="col">Contributed By</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%  dbresults.forEach(function(item){ %> 
              <tr><th scope="row"><%=item[7] %></th>
              <td><%=item[3] %></td>
              <td><%=item[0] %></td>
              <td><%=item[4] %></td>
              <td><a href="/viewcode?type=<%= unescape(title).toLowerCase() %>&id=<%= item[8]%>" class="btn btn-primary" ></button>View</a></td>
              <% if (user) { %>
                <% if (item[9]==null) { %>
                  <td><a ><button class="btn btn-dark" id="btn-voted-<%= item[8]%>" onclick="VoteBtnOnClick(this)">Vote</button></a></td>
                <% }else{ %>
                  <td><a ><button class="btn btn-dark" id="btn-voted-<%= item[8]%>" onclick="VoteBtnOnClick(this)"  disabled>Voted</button></a></td>
                <% } %>
              <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-12">
              <ul class="pagination justify-content-center pagination-sm" >
                
                <li class="page-item  <% if (currentpage == 1) { %> disabled <% }else{ %> abled <% } %>  ">
                  <a  class="page-link border-dark rounded mx-2" href="?currentpage=1&itemlimit=<%-itemlimit%>" >First</a>
                </li>

                <li class="page-item <% if (currentpage == 1) { %> disabled <% }else{ %> abled <% } %>  ">
                  <a  class="page-link border-dark rounded mx-2" href="?currentpage=<%-currentpage-1%>&itemlimit=<%-itemlimit%>">&larr;Previous</a>
                </li>

                <!-- Pagnation Logic -->
                <% if (totalpages>5) { %>
                  <!-- When the totalpages is greater than 5 -->

                  <% if (currentpage>=4 && currentpage <= totalpages-2) { %>

                    <% for(let i = currentpage-2; i <= currentpage+2; i++){ %>

                      <li class="page-item <% if (currentpage == i) { %> active <% }%>">
                        <a class="page-link border-dark rounded mx-2" href="?currentpage=<%=i%>&itemlimit=<%-itemlimit%>" ><%=i%></a>
                      </li>
  
                    <% } %> 
                  
                  <% }else if(currentpage>=4 && currentpage > totalpages-2){%>

                    <% for(let i = currentpage-2; i <= totalpages; i++){ %>

                      <li class="page-item <% if (currentpage == i) { %> active <% }%>">
                        <a class="page-link border-dark rounded mx-2" href="?currentpage=<%=i%>&itemlimit=<%-itemlimit%>" ><%=i%></a>
                      </li>

                    <% } %>  

                  <% }else if(currentpage<4){ %>

                    <% for(let i = 1; i <= 5; i++){ %>

                      <li class="page-item <% if (currentpage == i) { %> active <% }%>">
                        <a class="page-link border-dark rounded mx-2" href="?currentpage=<%=i%>&itemlimit=<%-itemlimit%>" ><%=i%></a>
                      </li>
  
                    <% } %> 
                    
                  <% } %> 

                <% }else if(totalpages <= 5){ %>
                  <!-- When the totalpages is less than or equal to 5 -->
                  <% for(let i = 1; i <= totalpages; i++){ %>

                    <li class="page-item <% if (currentpage == i) { %> active <% }%>">
                      <a class="page-link border-dark rounded mx-2" href="?currentpage=<%=i%>&itemlimit=<%-itemlimit%>" ><%=i%></a>
                    </li>

                  <% } %> 

                <% } %> 
                <!-- Pagnation Logic -->
  
                <li class="page-item <% if (currentpage == totalpages) { %> disabled <% }else{ %> abled <% } %> ">
                  <a class="page-link border-dark rounded mx-2" href="?currentpage=<%-currentpage+1%>&itemlimit=<%-itemlimit%>">&rarr;Next</a>
                </li>

                <li class="page-item <% if (currentpage == totalpages) { %> disabled <% }else{ %> abled <% } %> ">
                  <a class="page-link border-dark rounded mx-2" href="?currentpage=<%-totalpages%>&itemlimit=<%-itemlimit%>">End</a>
                </li>
                <!-- Display Limit Drop-down list -->
                <li class="small mx-2">
                <div class="dropdown">
                  Show
                  <button id="limitBtn" type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown"><%-itemlimit%></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="?itemlimit=5">5</a>
                    <a class="dropdown-item" href="?itemlimit=10">10</a>
                    <a class="dropdown-item" href="?itemlimit=15">15</a>
                  </div>
                  entries
                </div>
              </li>
              <!-- Display Limit Drop-down list -->
              </ul>
            </div>
          </div>

        </div>
      </div>
  
  
  
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>
    <script>
      function VoteBtnOnClick(obj){
        let btn_id = obj.id;
        let post_id = btn_id.slice(10);
        let post_type = `<%= title.toLowerCase()%>`;
        console.log(post_type);
        $.ajax({
          type: 'post',
          url: '/voted',
          data: {id: post_id, type: post_type},
          success: function(results){
            let html = 'Voted'
            let btn_id = '#' + obj.id;

            if(results == 'success'){
              $(btn_id).html(html);
              $(btn_id).attr('disabled',true);
            }
          }
        })
      }
    </script>

  </body>

</html>
