<!doctype html>
<html>
  <head>
    <%- include ("partials/head.ejs") -%>
    
  </head>

  <body>
    <div class="container-fluid">
      <div class="col-md-12 py-5 px-3 mx-auto">
        <%- include ("partials/nav.ejs") -%>
  
        <div class ="row">
          <div class="col-lg-2 px-0">
            <% if (user) { %>
            <a href ="/addcode">Add new code</a>
            <% } %>
          </div>
        <div class="col-lg-8 px-0">
          
          <h2 class="text-align-center"><%= title %><% if(subtitle){ %>: <%=subtitle %><% } %></h2>
          <p class="lead">All code snippets</p>
          
          <%  dbresults.forEach(function(item){ %> 
          Tags: <%=item[6].split(",")%>
          <% }) %>
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Votes</th>
                <th scope="col">Code</th>
                <th scope="col">Contributed By</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%  dbresults.forEach(function(item){ %> 
              <tr><th scope="row"><%=item[7] %></th>
              <td><%=item[3] %></td>
              <td><%=item[0] %></td>
              <td><%=item[4] %></td>
              <td><a href="<%= unescape(title).toLowerCase() %>/<%= item[8] %>" class="btn btn-primary" ></button>View</a></td>
              <% if (user) { %>
              <td><a href="/vote?post_type=<%= title.toLowerCase() %>&post_id=<%= item[8]%>" class="btn btn-dark" ></button>Vote</a></td>
              <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
  
  
  
        <%- include ("partials/footer.ejs") -%>
      </div>
    </div>

  </body>

</html>
